[submodule "ninchat/api/spec"]
	path = ninchat/api/spec
	url = https://github.com/ninchat/ninchat-api.git
[submodule "go/src/github.com/ninchat/ninchat-go"]
	path = go/src/github.com/ninchat/ninchat-go
	url = https://github.com/ninchat/ninchat-go.git
